.movieRow {
	position: relative;
	color: white;
	margin: 0px 20px 5px 20px;
	/* margin-bottom: 5px; */
}

.movieRow:nth-of-type(1) {
	color: red;
}

.row__poster {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	-ms-overflow-style: none;
	overflow: -moz-hidden-unscrollable;
	padding: 10px;
}

.row__poster::-webkit-scrollbar {
	display: none;
}

.posters__image {
	cursor: pointer;
	object-fit: contain;
	width: 100%;
	max-height: 240px;
	transition: transform 450ms;
	margin-right: 10px;
}

.posters__image:hover {
	transform: scale(1.08);
}

.poster__largeRow {
	max-height: 300px;
}

.poster__largeRow:hover {
	transform: scale(1.09);
}

.row__scrollBtn {
	position: absolute;
	z-index: 1;
	cursor: pointer;
	top: 40%;
	padding: 40px 3px;
	background-color: rgba(37, 37, 37, 0.8);
}

.scrollArrow__back {
	left: 0;
}
.scrollArrow__forward {
	right: 0;
}

.row__scrollBtn:hover {
	color: #000;
	background-color: #e6e6e6;
	transition: all 0.2s;
}
